/docs/
/lib/*
!/lib/ansi/
!/lib/ansi/**
!/lib/colorful/
!/lib/colorful/**
!/lib/mosaic/
!/lib/mosaic/**
/bin/
/.shards/
.crystal-cache/
*.dwarf

# Libraries don't need dependency lock
# Dependencies will be locked in applications that use them
/shard.lock
/lib
/crystal
