[submodule "ultraviolet_go"]
	path = ultraviolet_go
	url = https://github.com/charmbracelet/ultraviolet
[submodule "lib/ansi/x"]
	path = lib/ansi/x
	url = https://github.com/charmbracelet/x.git
[submodule "lib/mosaic/mosaic_go"]
	path = lib/mosaic/mosaic_go
	url = https://github.com/charmbracelet/x.git
